body{
  font-family: 'Roboto', sans-serif!important;
}

#navmain{
  height: 3rem;
  box-shadow: 0 0 10px black;
}

#navmenu{
  height: 3rem;
}

#navmain div h3{
  color: white
}

#navbtn{
  font-size: 2rem;
  vertical-align: middle;
  cursor: pointer;
  color: white;
}

#lockbtn, #infobtn{
  font-size: 1.8rem;
  vertical-align: middle;
  cursor: pointer;
  color: white;
  float: right;
}

#navtext{
  text-align: center;
}

.offcanvas{
  transition: transform 3s ease-in-out;
}

#mainmenu{
  width: 0;
  background: white;
  display: block;
  overflow: hidden;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.5s;
  z-index: 9;
}

#mainmenu.isOpen{
  width: 240px;
  box-shadow: 0 0 4px black;
}

#menulist{
  overflow: auto;
  height: calc(100% - 3rem);
}

.menuitem{
  background: white;
  border-bottom: 1px solid #212529;
  cursor: pointer;
  padding: 1rem 0.5rem;
  transition: padding-right .5s;
}

.menuitem:hover{
  padding-right: 1rem;
}

.menutxt{
    color: black;
}

.menuico{
    color: black;
    float: right;
}

.backico{
  cursor: pointer;
}

.lockboxico{
    text-align: center;
    height: 8rem;
}

.lockboxico i{
    font-size: 5rem;
    margin-top: 1.5rem;
}

.homecard{
  background: rgb(0 0 0 / 88%);
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 0;
}

.homeborder{
  border: 1px solid rgb(0 0 0 / 28%);
  margin: 1rem 0;
  border-radius: 0.2rem;
}

#infotab{
  background: rgb(0 0 0 / 80%);
  bottom: 0;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  left: 0;
  height: 6rem;
  position: fixed;
  width:0%;
  transition: width .5s
}

#infotab.show{

  width:100%;
}

.form-control {
  border-radius: 0;
}

.btn:focus {
  box-shadow: none;
}

/*helpers*/

.is-invalid{

}

.is-valid{

}

.row{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.w-100{
  width: 100%
}

.txt-lime, #txtsuccess{
  color: lime;
}

#errtxt, #txterror, #searcherr{
  color: red;
  font-size: .9rem;
}

.hidden{
  display: none
}

.cp{
  cursor: pointer;
}

.f-l{
  float: left;
}

.f-r{
  float: right;
}
